In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data_turis/tourism_with_id.csv')
df.head()

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Time_Minutes,Coordinate,Lat,Long,Unnamed: 11,Unnamed: 12
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,Jakarta,20000,4.6,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.175392,106.827153,NaN,1
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Budaya,Jakarta,0,4.6,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-6.137645,106.817125,NaN,2
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Taman Hiburan,Jakarta,270000,4.6,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-6.125312,106.833538,NaN,3
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Taman Hiburan,Jakarta,10000,4.5,NaN,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-6.302446,106.895156,NaN,4
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Taman Hiburan,Jakarta,94000,4.5,60.0,"{'lat': -6.12419, 'lng': 106.839134}",-6.124190,106.839134,NaN,5

In [3]:
df.shape

(437, 13)

In [4]:
df.columns

Index(['Place_Id', 'Place_Name', 'Description', 'Category', 'City', 'Price',
       'Rating', 'Time_Minutes', 'Coordinate', 'Lat', 'Long', 'Unnamed: 11',
       'Unnamed: 12'],
      dtype='object')

In [5]:
df.drop(columns=['Place_Id', 'Category', 'City', 'Price',
       'Rating', 'Time_Minutes', 'Coordinate', 'Lat', 'Long', 'Unnamed: 11',
       'Unnamed: 12'], inplace=True)

In [6]:
df.head()

,Place_Name,Description
0,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...
1,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu..."
2,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...
3,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...
4,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...

In [7]:
df.isnull().sum()

Place_Name     0
Description    0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
csv_data = df.to_csv('data_turis/df_tourism_desc', index =False)

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from string import punctuation

sw_indo = stopwords.words("indonesian") + list(punctuation)

In [12]:
bow = CountVectorizer(stop_words=sw_indo, tokenizer=word_tokenize)
bank = bow.fit_transform(df['Description'])

D:\MiniConda\envs\jcop_recsys\lib\site-packages\sklearn\feature_extraction\text.py:385: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['``'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

In [13]:
idx = 0

In [14]:
content = df.loc[idx, 'Description']
content

'Monumen Nasional atau yang populer disingkat dengan Monas atau Tugu Monas adalah monumen peringatan setinggi 132 meter (433 kaki) yang didirikan untuk mengenang perlawanan dan perjuangan rakyat Indonesia untuk merebut kemerdekaan dari pemerintahan kolonial Hindia Belanda. Pembangunan monumen ini dimulai pada tanggal 17 Agustus 1961 di bawah perintah presiden Soekarno dan dibuka untuk umum pada tanggal 12 Juli 1975. Tugu ini dimahkotai lidah api yang dilapisi lembaran emas yang melambangkan semangat perjuangan yang menyala-nyala. Monumen Nasional terletak tepat di tengah Lapangan Medan Merdeka, Jakarta Pusat.'

In [15]:
code = bow.transform([content])
code

<1x6485 sparse matrix of type '<class 'numpy.int64'>'
	with 50 stored elements in Compressed Sparse Row format>

In [16]:
from sklearn.metrics.pairwise import cosine_distances

In [17]:
dist = cosine_distances(code, bank)
dist

array([[2.22044605e-16, 9.41777749e-01, 8.33144047e-01, 9.12294198e-01,
        9.86024575e-01, 9.60471529e-01, 9.35876353e-01, 1.00000000e+00,
        9.53088336e-01, 9.45767386e-01, 9.82322330e-01, 9.06973949e-01,
        9.68056172e-01, 9.65104530e-01, 9.13573660e-01, 9.31800566e-01,
        9.02266245e-01, 8.75832537e-01, 9.81366100e-01, 9.34572010e-01,
        9.68991316e-01, 8.35987351e-01, 9.74681516e-01, 8.82015024e-01,
        9.68400622e-01, 9.59621357e-01, 9.12294198e-01, 1.00000000e+00,
        9.47295372e-01, 9.63403747e-01, 9.68585957e-01, 9.31635736e-01,
        9.53415250e-01, 9.90412938e-01, 8.92582769e-01, 9.48012476e-01,
        9.63403747e-01, 9.24691990e-01, 9.36754447e-01, 8.63243684e-01,
        9.65496722e-01, 9.21737621e-01, 9.65078485e-01, 6.15863337e-01,
        9.72475906e-01, 9.70888875e-01, 9.42646067e-01, 8.85095148e-01,
        9.14095879e-01, 9.11916967e-01, 9.17661303e-01, 9.39719647e-01,
        9.55934735e-01, 9.70695075e-01, 9.80754991e-01, 9.73828804e-01,
        8.24274513e-01, 9.89619315e-01, 8.23528355e-01, 8.60878331e-01,
        8.70000000e-01, 9.00368325e-01, 8.38506202e-01, 8.90410749e-01,
        9.67725139e-01, 9.50395263e-01, 9.65900283e-01, 9.89388091e-01,
        9.83333333e-01, 8.96439833e-01, 1.00000000e+00, 9.58073725e-01,
        9.29570479e-01, 9.64308469e-01, 1.00000000e+00, 9.84495658e-01,
        9.44098301e-01, 9.46940455e-01, 9.49055530e-01, 9.06766268e-01,
        9.09021832e-01, 8.88196601e-01, 1.00000000e+00, 9.59337497e-01,
        9.82377316e-01, 9.83435271e-01, 9.16594234e-01, 9.64644661e-01,
        9.82097128e-01, 1.00000000e+00, 9.80537526e-01, 9.89388091e-01,
        9.90747085e-01, 9.75000000e-01, 9.89663772e-01, 9.88929814e-01,
        7.97740041e-01, 9.07758993e-01, 1.00000000e+00, 9.65219583e-01,
        9.68447263e-01, 8.63069361e-01, 8.44252044e-01, 1.00000000e+00,
        9.83691798e-01, 9.76163435e-01, 9.84344393e-01, 9.82950142e-01,
        9.51887478e-01, 7.79103688e-01, 1.00000000e+00, 9.87090056e-01,
        9.57402862e-01, 9.76297727e-01, 7.61858426e-01, 1.00000000e+00,
        9.39758550e-01, 9.35149345e-01, 9.91048564e-01, 9.77178227e-01,
        9.72613872e-01, 1.00000000e+00, 9.78394330e-01, 9.62732200e-01,
        9.81494170e-01, 9.82696786e-01, 1.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 9.01092929e-01, 1.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 9.89750999e-01, 9.56870903e-01, 9.77412302e-01,
        1.00000000e+00, 1.00000000e+00, 9.56562776e-01, 1.00000000e+00,
        9.70382556e-01, 1.00000000e+00, 1.00000000e+00, 9.77589464e-01,
        1.00000000e+00, 9.93195862e-01, 9.27335205e-01, 9.78776182e-01,
        9.92627902e-01, 9.70468779e-01, 1.00000000e+00, 9.72883693e-01,
        1.00000000e+00, 9.81863094e-01, 9.90990625e-01, 1.00000000e+00,
        9.85909622e-01, 1.00000000e+00, 1.00000000e+00, 9.83820380e-01,
        9.87090056e-01, 9.89482421e-01, 1.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 9.94717786e-01, 1.00000000e+00, 9.83904431e-01,
        1.00000000e+00, 9.45227744e-01, 1.00000000e+00, 1.00000000e+00,
        9.71132487e-01, 9.89707663e-01, 9.85413501e-01, 9.78615027e-01,
        9.63139511e-01, 9.84495658e-01, 9.64245153e-01, 9.84785485e-01,
        9.90901568e-01, 1.00000000e+00, 9.65078485e-01, 1.00000000e+00,
        1.00000000e+00, 1.00000000e+00, 9.93079543e-01, 1.00000000e+00,
        9.81681417e-01, 9.87003119e-01, 9.90533969e-01, 9.91084213e-01,
        9.85125897e-01, 9.89877796e-01, 9.51075395e-01, 9.83515488e-01,
        9.83945968e-01, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 9.78281388e-01, 1.00000000e+00, 1.00000000e+00,
        9.87258820e-01, 1.00000000e+00, 9.87258820e-01, 9.89435572e-01,
        1.00000000e+00, 1.00000000e+00, 9.59839034e-01, 9.37377571e-01,
        9.30903520e-01, 9.51343816e-01, 9.74199216e-01, 1.00000000e+00,
        9.65078485e-01, 9.74930265e-01, 9.69848866e-01, 1.00000000e+00,
        8.02454081e-01, 9.39410261e-01, 9.82816415e-01, 1.00000000e+00,
        9.54824605e-01, 9.58397485e-01, 9.72883693e-01, 9.18651078e-01,
        9.89574279e-01, 1.00000000e+00, 1.00000000e+00, 9.85319495e-01,
        9.56356422e-01, 9.60471529e-01, 9.61009357e-01, 9.71447988e-01,
        9.90000000e-01, 9.82210798e-01, 1.00000000e+00, 9.84958579e-01,
        1.00000000e+00, 9.64245153e-01, 9.86540452e-01, 9.87421135e-01,
        1.00000000e+00, 1.00000000e+00, 9.42049944e-01, 1.00000000e+00,
        9.90550888e-01, 9.69122989e-01, 1.00000000e+00, 9.71370083e-01,
        9.69879275e-01, 1.00000000e+00, 9.54824605e-01, 1.00000000e+00,
        6.69510513e-01, 9.62022274e-01, 7.16666667e-01, 9.12696213e-01,
        9.74681516e-01, 9.90268763e-01, 9.89574279e-01, 9.37445676e-01,
        9.71132487e-01, 1.00000000e+00, 9.81863094e-01, 9.84028086e-01,
        9.87783056e-01, 9.67422082e-01, 9.88706151e-01, 9.88819660e-01,
        9.54116853e-01, 1.00000000e+00, 1.00000000e+00, 9.48245083e-01,
        9.68991316e-01, 9.71132487e-01, 9.72475906e-01, 9.70582580e-01,
        9.89089105e-01, 1.00000000e+00, 1.00000000e+00, 9.53054747e-01,
        9.63619656e-01, 1.00000000e+00, 9.45445527e-01, 9.65031070e-01,
        1.00000000e+00, 8.97014270e-01, 1.00000000e+00, 9.90482663e-01,
        1.00000000e+00, 9.69381378e-01, 9.81423347e-01, 1.00000000e+00,
        9.66458980e-01, 9.87873219e-01, 1.00000000e+00, 9.85800954e-01,
        9.59910814e-01, 9.79057305e-01, 1.00000000e+00, 9.75154800e-01,
        9.50000000e-01, 9.53486975e-01, 9.65405080e-01, 1.00000000e+00,
        9.54875737e-01, 1.00000000e+00, 1.00000000e+00, 9.73483496e-01,
        9.83048412e-01, 9.86636938e-01, 1.00000000e+00, 9.77979242e-01,
        9.78383115e-01, 9.59003997e-01, 1.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        9.61009357e-01, 1.00000000e+00, 9.50202841e-01, 9.86341041e-01,
        9.77296170e-01, 9.92339357e-01, 9.91572502e-01, 1.00000000e+00,
        1.00000000e+00, 9.85319495e-01, 9.73888352e-01, 1.00000000e+00,
        9.77967368e-01, 8.98870021e-01, 9.53033178e-01, 9.86540452e-01,
        1.00000000e+00, 9.88819660e-01, 1.00000000e+00, 1.00000000e+00,
        9.70119285e-01, 9.34220649e-01, 9.86823843e-01, 1.00000000e+00,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 9.56480586e-01,
        9.83604354e-01, 9.86132495e-01, 1.00000000e+00, 9.50000000e-01,
        1.00000000e+00, 1.00000000e+00, 9.86731378e-01, 1.00000000e+00,
        9.77178227e-01, 9.87653380e-01, 9.85351032e-01, 1.00000000e+00,
        9.31359353e-01, 9.84028086e-01, 9.87943929e-01, 9.48701082e-01,
        7.80821498e-01, 9.58655088e-01, 1.00000000e+00, 9.87500000e-01,
        9.11060941e-01, 1.00000000e+00, 9.42844610e-01, 9.46547752e-01,
        1.00000000e+00, 9.90482663e-01, 1.00000000e+00, 9.66096825e-01,
        7.42852183e-01, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 9.72522126e-01, 9.82322330e-01, 9.82900361e-01,
        9.40707294e-01, 1.00000000e+00, 1.00000000e+00, 9.88148863e-01,
        1.00000000e+00, 9.92339357e-01, 1.00000000e+00, 8.79714906e-01,
        9.81604091e-01, 9.81863094e-01, 1.00000000e+00, 9.75887859e-01,
        9.82377316e-01, 9.61075053e-01, 1.00000000e+00, 9.77883707e-01,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 9.48012476e-01,
        9.94576739e-01, 9.71447988e-01, 9.80138547e-01, 8.95106701e-01,
        9.44098301e-01, 9.51961554e-01, 8.67001206e-01, 9.36294101e-01,
        9.63114444e-01, 9.85566243e-01, 8.02831533e-01, 1.00000000e+00,
        9.42049944e-01, 7.88460740e-01, 1.00000000e+00, 9.81250000e-01,
        1.00000000e+00, 9.78304118e-01, 9.44098301e-01, 7.39572312e-01,
        9.37377571e-01, 9.92691183e-01, 9.83145003e-01, 9.76687380e-01,
        9.41277978e-01, 9.49595135e-01, 9.67469998e-01, 9.83862569e-01,
        9.81366100e-01]])

In [18]:
rec_idx = dist.argsort()[0, 1:11]
rec_idx

array([ 43, 256, 258, 427, 380, 114, 109, 368, 421,  96], dtype=int64)

In [20]:
df.loc[rec_idx]

,Place_Name,Description
43,Monumen Selamat Datang,Monumen Selamat Datang adalah sebuah monumen y...
256,Monumen Bandung Lautan Api,"Monumen Bandung Lautan Api, merupakan monumen ..."
258,Monumen Perjuangan Rakyat Jawa Barat,Monumen Perjuangan Rakyat Jawa Barat (Monju) a...
427,Monumen Bambu Runcing Surabaya,Monumen Bambu Runcing adalah ikon pariwisata S...
380,Tugu Muda Semarang,"Tugu Muda (""Monumen Pemuda"" Indonesia) adalah ..."
114,Monumen Sanapati,Monumen Sanapati dibangun untuk memeringati 50...
109,Monumen Serangan Umum 1 Maret,Monumen Serangan Umum 1 Maret berada di area s...
368,Monumen Palagan Ambarawa,Monumen Palagan Ambarawa adalah sebuah monumen...
421,Monumen Jalesveva Jayamahe,Monumen Jalesveva Jayamahe atau Monjaya adalah...
96,Monumen Yogya Kembali,Museum Monumen Yogya Kembali (bahasa Jawa: ꦩꦺꦴ...

In [21]:
class RecommenderSystem:
    def __init__(self, data, content_col):
        self.df = pd.read_csv(data)
        self.content_col = content_col
        self.encoder = None
        self.bank = None
        
    def fit(self):
        self.encoder = CountVectorizer(stop_words=sw_indo, tokenizer=word_tokenize)
        self.bank = self.encoder.fit_transform(self.df[self.content_col])
        
    def recommend(self, idx, topk=10):
        content = df.loc[idx, self.content_col]
        code = self.encoder.transform([content])
        dist = cosine_distances(code, self.bank)
        rec_idx = dist.argsort()[0, 1:(topk+1)]
        return self.df.loc[rec_idx]

In [23]:
recsys = RecommenderSystem("data_turis/df_tourism_desc", content_col="Description")
recsys.fit()

D:\MiniConda\envs\jcop_recsys\lib\site-packages\sklearn\feature_extraction\text.py:385: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['``'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

In [25]:
recsys.recommend(10)

           Place_Name                                        Description
12      Pulau Pramuka  Pulau Pramuka merupakan salah satu pulau yang ...
13      Pulau Pelangi  Pulau Pelangi adalah sebuah pulau yang terleta...
11         Pulau Pari  Pulau Pari adalah sebuah pulau yang terletak d...
45   Pulau Semak Daun  Pulau Semak Daun merupakan salah satu pulau ya...
9        Pulau Tidung  Pulau Tidung adalah salah satu kelurahan di ke...
8    Pelabuhan Marina  Pelabuhan Marina Ancol berada di kawasan Taman...
118       Lava Bantal  Wilayah DIY menawarkan sejumlah potensi wisata...
152      Pantai Kukup  Pantai Kukup adalah salah satu pantai yang mem...
327         Gua Pawon  Gua Pawon adalah sebuah gua alami dan situs pu...
211       Jalan Braga  Jalan Braga adalah nama sebuah jalan utama di ...

In [26]:
recsys.recommend(18)

,Place_Name,Description
290,Water Park Bandung Indah,Bandung Indah Waterpark merupakan salah satu k...
2,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...
236,Panghegar Waterboom Bandung,Panghegar Waterboom Bandung merupakan salah sa...
364,Waduk Jatibarang,Waduk Jatibarang merupakan sebuah waduk yang b...
74,SnowBay Waterpark,Waterpark yang menghadirkan wahana imajinatif ...
280,Tektona Waterpark,Tektona Waterpark sebuah wahana yang memberika...
296,Mountain View Golf Club,Selamat Datang di Mountain View Golf Club Dago...
75,Taman Cattleya,Kehadiran Taman Cattleya tentu saja sangat ber...
393,Air Mancur Menari,Jembatan Kenjeran dengan air mancur menarinya ...
373,Hutan Pinus Kayon,Tak dipungkiri Hutan Pinus Kayon Getasan dekat...